<p id="notice"><%= notice %></p>


<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-primary">
      <div class="panel-heading text-center">
        <h1>Leaderboard (Best <%= @cities.count %>)</h1>
      </div>
      <div class="panel-body">
        <table class="table table-condensed table-striped">
          <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>XP</th>
            <th>Win</th>
            <th>Lose</th>
            <th>Minerals</th>
            <th>Energy</th>
          </tr>
          </thead>

          <tbody>
          <% @cities.each_with_index do |city,index| %>
              <tr>
                <td><%= index+1 %>.</td>
                <td><%= city.name %></td>
                <td><%= city.population %></td>
                <td><%= city.win %></td>
                <td><%= city.lose%></td>
                <td><%= city.stone %></td>
                <td><%= city.wood %></td>
              </tr>
          <% end %>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>