<div ng-app="cityModule" ng-cloak
     ng-init="city.stone=<%= @city.stone %>;city.wood=<%= @city.wood %>;city.max_building_amount=<%= @city.max_building_amount %>;city.max_army_amount=<%= @city.max_army_amount%>;city.lose=<%= @city.lose %>;city.win=<%= @city.win %>;city.population=<%= @city.population %>">

  <div ng-controller="cityController" >
    <p id="notice"><%= notice %></p>

    <%= link_to 'Edit', edit_city_path(@city) %> |
    <%= link_to 'Back', cities_path %>
    <p>
      <strong>Ship Name:</strong>
      <p><%= @city.name %></p>
    </p>

    <p>
      <strong>Locked:</strong>
      <%= @city.locked %>
    </p>

    <p>
        <strong>Stone:</strong>
        <p>{{city.stone}}</p>

    </p>

    <p>
        <strong>Wood:</strong>
        <p>{{city.wood}}</p>
    </p>

    <p>
      <strong>Population:</strong>
        <p>{{city.population}}</p>
    </p>

    <!-- Fight button -->
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#fightModal" ng-click="GetAllFighterCities()">
      Fight
    </button>
    <!-- Modal Fighter List-->
    <div class="modal fade" id="fightModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Fight with enemies</h4>
          </div>
          <div class="modal-body">
            <div data-ng-repeat="city in fighterCities">
              <div>
                {{city}}
                <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#fightResultModal" ng-click="FightWithCity(city)">Attack</button>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <!--<button type="button" class="btn btn-primary">Save changes</button>-->
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Fighter Result-->
    <div class="modal fade" id="fightResultModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="CloseAllModals()"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Fight Result</h4>
          </div>
          <div class="modal-body">
            <div id="fight_result">
                Result: {{fightResult}}
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="CloseAllModals()">Close</button>
            <!--<button type="button" class="btn btn-primary">Save changes</button>-->
          </div>
        </div>
      </div>
    </div>

    <div>
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#buildings" aria-controls="buildings" role="tab" data-toggle="tab">Buildings ({{buildings.length}}/{{city.max_building_amount}})</a></li>
        <li role="presentation"><a href="#army" aria-controls="profile" role="tab" data-toggle="tab">Fighter Ships ({{units.length}}/{{city.max_army_amount}})</a></li>
        <!--<li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>-->
        <!--<li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>-->
      </ul>


      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="buildings">
          <div id="factories">
            <button type="button" class="btn btn-sm btn-default" ng-click="CreateBuilding(1)">Build Gem mining</button>
            <button type="button" class="btn btn-sm btn-default" ng-click="CreateBuilding(2)">Build Starport</button>

            <p> Building list </p>
            <div data-ng-repeat="building in buildings">
              <div>
                {{building}}
                <button type="button" class="btn btn-sm btn-default" ng-click="Collect(building)">Collect</button>
                <button type="button" class="btn btn-sm btn-default" ng-click="DeleteBuilding(building)">Delete</button>
              </div>
            </div>
          </div>

        </div>
        <div role="tabpanel" class="tab-pane fade" id="army">
          <div id="army">
            <button type="button" class="btn btn-sm btn-default" ng-click="CreateUnit(1)">Build Ship Type1 (gem-10,energy-10)</button>
            <button type="button" class="btn btn-sm btn-default" ng-click="CreateUnit(2)">Build Ship Type2 (gem-25,energy-20)</button>
            <button type="button" class="btn btn-sm btn-default" ng-click="CreateUnit(3)">Build Ship Type3 (gem-40,energy-50)</button>
            <button type="button" class="btn btn-sm btn-default" ng-click="CreateUnit(4)">Build Ship Type4 (gem-70,energy-30)</button>
          </div>

          <p> Fighter Ships list </p>
          <div data-ng-repeat="unit in units">
            <div>
              {{unit}}
              <button type="button" class="btn btn-sm btn-default" ng-click="DeleteUnit(unit)">Delete</button>
            </div>
          </div>

        </div>
        <!--<div role="tabpanel" class="tab-pane fade" id="messages">message</div>-->
        <!--<div role="tabpanel" class="tab-pane fade" id="settings">settings</div>-->
      </div>
    </div>

    <br/>
    <br/>
    <br/>



  </div>
</div>

