<div ng-app="cityModule" ng-cloak
     ng-init="city.stone=<%= @city.stone %>;city.wood=<%= @city.wood %>;city.max_building_amount=<%= @city.max_building_amount %>;city.max_army_amount=<%= @city.max_army_amount %>;city.lose=<%= @city.lose %>;city.win=<%= @city.win %>;city.population=<%= @city.population %>">

  <div ng-controller="cityController">
    <div class="row">
      <div class="col-xs-9 col-md-9">
        <div class="panel panel-default panel-transparent">
          <div class="panel-body">

            <p id="notice"><%= notice %></p>

            <!--Stats panel-->
            <div class="container-fluid">
              <!--Ship image-->
              <div class="col-xs-4 col-md-4">
                <div id="myShip"></div>
              </div>
              <!--Stats panel-->
              <div class="col-xs-8 col-md-8">
                <div class="row">
                  <div class="col-xs-3">
                    <strong>Ship Name:</strong>

                    <p><%= @city.name %> (<%= link_to 'change', edit_city_path(@city) %>)</p>
                  </div>
                  <div class="col-xs-3">
                    <strong>XP</strong>

                    <p>{{city.population}}</p>
                  </div>
                  <div class="col-xs-3">
                    <strong>Minerals</strong>

                    <p>{{city.stone}}</p>
                  </div>
                  <div class="col-xs-3">
                    <strong>Energy</strong>

                    <p>{{city.wood}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-3">
                    <!-- Fight button -->
                    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#fightModal" ng-click="GetAllFighterCities()">
                      Battle
                    </button>
                  </div>
                  <div class="col-xs-3">
                  </div>
                  <div class="col-xs-3">
                    <strong>Win</strong>

                    <p>{{city.win}}</p>
                  </div>
                  <div class="col-xs-3">
                    <strong>Lose</strong>

                    <p>{{city.lose}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal Fighter List-->
        <div class="modal fade" id="fightModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content  panel-danger">
              <div class="modal-header panel-danger">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Fight with enemies</h4>
              </div>
              <div class="modal-body">

                <ul class="list-group">

                  <div data-ng-repeat="cityObj in fighterCities">
                    <li class="list-group-item">

                        <span class="btn-group">
                        <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#fightResultModal" ng-click="FightWithCity(cityObj)">Attack</button>
                      </span>
                      {{cityObj.name}} (XP:{{cityObj.population}})
                    </li>
                  </div>
                </ul>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <!--<button type="button" class="btn btn-primary">Save changes</button>-->
              </div>
            </div>
          </div>
        </div>

        <!-- Modal Fighter Result-->
        <div class="modal fade" id="fightResultModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="CloseAllModals()">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Fight Result</h4>
              </div>
              <div class="modal-body">
                <div id="fight_result">
                  <div id="fight_result_notice" class="text-center" ng-hide="fightResult.error">
                    {{fightResult.notice}}
                  </div>
                  <div id="fight_result_population" class="text-center" ng-hide="fightResult.error">
                    Gained XP: {{fightResult.population}}
                  </div>
                  <div id="fight_result_population" class="text-center" ng-show="fightResult.error">
                    {{fightResult.error}}
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="CloseAllModals()">Close</button>
                <!--<button type="button" class="btn btn-primary">Save changes</button>-->
              </div>
            </div>
          </div>
        </div>

        <!--Building and Units panels-->
        <div class="row">
          <div id="exTab3" class="container-fluid">
            <div>
              <!--Panel Selection/Menu buttons-->
              <ul class="nav nav-pills">
                <li class="active">
                  <a href="#1b" data-toggle="tab">
                    Buildings
                    ({{buildings.length}}/{{city.max_building_amount}})
                  </a>
                </li>
                <li><a href="#2b" data-toggle="tab">
                  Starfighters
                  ({{units.length}}/{{city.max_army_amount}})
                </a>
                </li>
              </ul>
              <!--Panel contens-->
              <div class="tab-content clearfix">
                <!--buildings panel-->
                <div class="tab-pane fade in active" id="1b">

                  <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#buildingModal">
                    <span class="glyphicon glyphicon-plus-sign"></span> Build
                  </button>

                  <hr/>

                  <div data-ng-repeat="building in buildings" style="float: left;">
                    <div id="building_item_{{building.resource_type}}">
                      <!--{{building}}-->
                      <p ng-show="building.resource_type==1">Mineral Sucker</p>

                      <p ng-show="building.resource_type==2">Energy Generator</p>

                      <button type="button" class="btn btn-sm btn-success" ng-click="Collect(building)">Collect</button>
                      <button type="button" class="btn btn-sm btn-danger" ng-click="DeleteBuilding(building)">Delete</button>
                    </div>
                  </div>

                </div>
                <!--units panel-->
                <div class="tab-pane fade" id="2b">

                  <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#unitModal">
                    <span class="glyphicon glyphicon-plus-sign"></span> Build
                  </button>

                  <hr/>

                  <div data-ng-repeat="unit in units" style="float: left;">
                    <div>
                      <!--{{unit}}-->

                      <div id="unit_item_{{unit.unit_type}}">
                        <div>
                          <p ng-show="unit.unit_type==1">Gunbolt-2</p>

                          <p ng-show="unit.unit_type==2">TIE Fire</p>

                          <p ng-show="unit.unit_type==3">X-TIE Fighter</p>

                          <p ng-show="unit.unit_type==4">T65XJ5</p>
                        </div>
                        <div>Attack: {{unit.attack}}</div>
                        <div>Defense: {{unit.defence}}</div>
                      </div>
                      <div class="unit-delete-button">
                        <button type="button" class="btn btn-lg btn-danger" ng-click="DeleteUnit(unit)">Destroy</button>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>

        </div>

        <!--building templates panel-->
        <div class="modal fade" id="buildingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog modal-dialog-center" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Buildings</h4>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-xs-6 col-md-6">
                    <div>
                      <p>Mineral Sucker</p>
                      <%= image_tag("Energy_Generator.jpg") %>
                    </div>
                    <button type="button" class="btn btn-lg btn-success" ng-click="CreateBuilding(1)">
                      Buy (-20,-20)
                    </button>
                  </div>
                  <div class="col-xs-6 col-md-6">
                    <div>
                      <p>Energy Generator</p>
                      <%= image_tag("Minera_Sucker.jpg") %>
                    </div>

                    <button type="button" class="btn btn-lg btn-success" ng-click="CreateBuilding(2)">
                      Buy (-20,-20)
                    </button>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <!--<button type="button" class="btn btn-primary">Save changes</button>-->
              </div>
            </div>
          </div>
        </div>
        <!--units template panel-->
        <div class="modal fade" id="unitModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog modal-dialog-center" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Buildings</h4>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-xs-3 col-md-3">
                    <div>
                      <p>Gunbolt-2</p>
                      <%= image_tag("gunboat_2_small.jpg") %>
                    </div>
                    <button type="button" class="btn btn-sm btn-success" ng-click="CreateUnit(1)">Buy (-100,-100)
                    </button>
                  </div>

                  <div class="col-xs-3 col-md-3">
                    <div>
                      <p>TIE Fire</p>
                      <%= image_tag("TIE_Fire_Control_small.jpg") %>
                    </div>
                    <button type="button" class="btn btn-sm btn-success" ng-click="CreateUnit(2)">Buy (-150,-150)
                    </button>
                  </div>
                  <div class="col-xs-3 col-md-3">
                    <div>
                      <p>X-TIE Fighter</p>
                      <%= image_tag("X-TIE-Fighter_small.jpg") %>
                    </div>
                    <button type="button" class="btn btn-sm btn-success" ng-click="CreateUnit(3)">Buy (-300,-500)
                    </button>
                  </div>
                  <div class="col-xs-3 col-md-3">
                    <div>
                      <p>T65XJ5</p>
                      <%= image_tag("T65XJ5_Stealth_small.jpg") %>
                    </div>
                    <button type="button" class="btn btn-sm btn-success" ng-click="CreateUnit(4)">Buy (-1000,-800)
                    </button>
                  </div>


                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <!--<button type="button" class="btn btn-primary">Save changes</button>-->
              </div>
            </div>
          </div>
        </div>

      </div>

      <!--Battle panel-->
      <div class="col-xs-3 col-md-3">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Battle History</h3>
          </div>
          <div class="panel-body">
            Coming soon
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

